# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/


# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

*.sage.py

# Environments
fitness/.env
.venv
env/
venv/
ENV/

# Pyre type checker
.pyre/
db.sqlite3
.idea
.env
/media/